* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  font-size: 62.5%;
  background: #efefef;
  scroll-behavior: smooth;
  scrollbar-color: rgb(98 84 243);
  scrollbar-width: thin;
}

.container h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.container {
  max-width: 107rem;
  margin: 0 auto;
}

p,
a,
li,
button {
  color: #000000;
  font-size: 1.7rem;
  list-style: none;
  text-decoration: none;
  line-height: normal;
  letter-spacing: 1;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000000;
}

.flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.grid-five-cols {
  grid-template-columns: repeat(5, 1fr);
}

.center {
  padding: 2rem;
  box-shadow: rgb(0, 0, 0) 0px 3px 8px;
  color: #000;
  width: 700px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 200px;
  margin: 0 auto;
  border-radius: 4px;
}

.get {
  padding: .8rem 2.4rem;
  border-radius: 4px;
  background-color: #4F46E5;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-transform: uppercase;
}

.login {
  width: 90px;
}

.Btn {
  padding: .8rem 2.4rem;
  border-radius: 20px;
  background-color: #4F46E5;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: all .2s ease;
}

.Btn:hover {
  background-color: #111827;
}

.navbar-section {
  height: 10rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(105, 104, 104, 0.503) 0px 14px 28px;

  & .container {
    height: 10rem;
  }
}

.logo img {
  width: 80px;
}

.active {
  color: #4F46E5;
}

.navbar {
  grid-template-columns: .5fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 3.2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.2rem;
}

.sign button {
  background-color: #4F46E5;
  color: #ffffff;
  border: 0;
  outline: none;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.cart-icon {
  position: relative;
  font-size: 20px;
  display: grid;
  justify-items: center;
}

.count {
  position: absolute;
  top: -5px;
  left: 14px;
  width: 20px;
  height: 20px;
  background-color: #4F46E5;
  color: #fff;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count span {
  font-size: 16px;
  font-weight: bold;
}

.menu-icon {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  display: none;
}

.menu {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  outline: 0;
  border: 0;
  cursor: pointer;
}

/* --- Hero Section ---  */
.cate-para {
  display: flex;
  gap: 1rem;
}

.done {
  color: rgb(0, 255, 0);
  font-size: 25px;
}

.hero-section {
  margin: 9rem 0;
}

.hero-container {
  gap: 6.4rem;
}

.hero-content,
footer {
  padding: 6.4rem;
  line-height: 1.5;
}

.hero-content h2 {
  font-size: 3.2rem;
  line-height: 1.4;
}

.hero-content h2 span {
  font-size: 2.4rem;
  line-height: 1.4;
  color: #4F46E5;
  margin-top: 15px;
}

.hero-content .para {
  color: rgb(35, 35, 35);
}

.hero-image {
  width: 90%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.category {
  margin-top: 2rem;
}

.category div {
  font-size: 17px;
}

.Btns {
  margin-top: 1rem;
}

/* --- Services ---  */

.service-section {
  margin: 9rem 0;
  padding: 6.4rem;
}

.services {
  gap: 4.8rem;
}

.services-1,
.services-2,
.services-3 {
  width: auto;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.services-2 {
  gap: 4rem;
  background-color: transparent;
  box-shadow: none;
}

.service-col-2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.service-col-2 h3 {
  margin-left: 1.2rem;
}

.icon {
  font-size: 2.8rem;
  color: #4F46E5;
  margin-bottom: 1rem;
}

.service-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 1.4rem;
}

.trusted {
  display: grid;
  justify-content: center;
  padding: 6.4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.trusted p {
  text-align: center;
}

.images {
  object-fit: cover;
  object-position: center;
  margin: 6rem;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}

/* --- Contact Form ---  */

.contact-section {
  margin: 9rem 0;
}

.common-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.8rem;
}

.container-form {
  margin-top: 2rem;
}

.contact {
  display: grid;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form input {
  padding: 8px;
  margin-bottom: 8px;
}

textarea {
  padding: 8px;
  resize: none;
}

.send {
  background-color: #4F46E5;
  color: #fff;
  border: 0;
  outline: none;
  width: 120px;
  margin-top: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

/* --- Footer Section ---  */

.footer-container {
  position: relative;
  background-color: #ffffffd2;
  color: #000000;
  padding-top: 9rem;
}

.footer-top {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  margin-top: 4rem;
  gap: 3.6rem;
}

.footer-social {
  display: flex;
  gap: 1rem;
}

.icon-box {
  position: relative;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  padding: 2px;
}

.icons {
  color: #4F46E5;
  font-size: 25px;
}

.footer-content h3 {
  font-size: 16px;
}

.footer-content p {
  font-size: 15px;
  font-weight: 400;
}

.footer-subscribe h3 {
  font-size: 18px;
  color: #4F46E5;
  margin-bottom: 1rem;
}

.footer-subscribe input {
  margin-bottom: 1rem;
}

/* --- Featured Card ---  */

.card {
  width: 220px;
  height: 280px;
  padding: 5px;
  background-color: #fff;
}

.product-card {
  gap: 10px;
}

.card img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.4s ease;
}

/* On hover */
.card:hover img {
  opacity: 1;
}

.Featured {
  text-align: left;
}

.card {
  box-shadow: rgb(0, 0, 0) 0px 3px 8px;
  width: 240px;
  height: auto;
  padding: 2rem;
}

.card h3 {
  margin-top: 1.5rem;
  color: #171460;
  font-weight: 500;
}

.card span {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.add-card {
  background-color: #4F46E5;
  color: #fff;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 6px;
  border-radius: 12px;
  margin-left: 15px;
  cursor: pointer;
  transition: all .3s ease;
}

.add-card:hover {
  background-color: transparent;
  color: #000;
  /* box-shadow: rgb(0, 0, 0) 0px 3px 8px; */
}

.Check {
  color: #4F46E5;
  text-transform: uppercase;
}

/* --- Details ---  */

.card-details {
  padding: 9rem 0;
  box-shadow: rgb(0, 0, 0) 0px 3px 8px;
  line-height: 1.8;
}

.cart-details .des {
  font-size: 16px;
  color: rgb(37, 37, 37);
  line-height: 1.4;
}

.comy h2 {
  font-size: 28px;
  font-weight: lighter;
  color: #000000;
  text-transform: capitalize;
}

.price {
  font-size: 18px;
  font-weight: 600;
}

.details {
  gap: 4.8rem;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
}

.reviews span {
  font-size: 2rem;
}

.star {
  color: orange;
  font-size: 2rem;
}

.rate span {
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 8px;
  color: #5c54ff;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.back-btn {
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding: 0.6rem 3rem;
  color: #fff;
  background-color: #4F46E5;
}

/* --- feature-icons ---  */

.feature-icons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: normal;
}

.title {
  font-size: small;
  font-weight: 600;
}

.s-images {
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  position: relative;
}

.s-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.full-img img {
  position: absolute;
  /* top: 60%; */
  /* left: 23%; */
  width: 320px;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

.selectColor {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.colorBtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.color-code {
  font-size: 16px;
  margin-top: 10px;
}

.color-section {
  margin-top: 8px;
  margin-bottom: 10px;
}

.counter-section {
  margin-top: 1rem;
  max-width: min-content;
  padding: 6px;
  border-radius: 2px;
}

.arrow {
  width: 25px;
  height: 25px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #4F46E5;
  color: #fff;
  transition: all .3s ease;
}

.arrow:hover {
  background-color: #8882ff;
}

.amount {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.colour-counter {
  align-items: center;
}

/* --- Products ---  */

.products-list {
  align-items: center;
}

.product-top-section {
  align-items: center;
  padding-top: 3rem;
}

.sidebar {
  width: 250px;
  height: 95vh;
  padding: 20px;
  background: #f9f9f9;
  border-right: 1px solid #ddd;
}

/* --- Sort Section ---  */

.sort-container {
  margin-top: 2rem;
}

.sort-by {
  margin-bottom: 0.7rem;
  background-color: transparent;

}

.sort-value {
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  outline: none;
}

/* --- product list --- */

.product-section {
  grid-template-columns: 25rem 1fr;
  padding-left: 2rem;
}

.product-list {
  padding-right: 2rem;
  padding-top: 6rem;
  margin-bottom: 4rem;
  gap: 2.5rem;
}

/* --- Search ---  */

.search-field {
  padding: 0.7rem;
  margin-bottom: 0.7rem;
  border: none;
  margin-top: 0.7rem;
  border: 1px solid #ddd;
  outline: none;
}

/* --- options ---  */

.options {
  background-color: transparent;
}

.category h3 {
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
}

.category-buttons {
  margin-top: 0.7rem;
}

.category-list li {
  line-height: 1.6;
  cursor: pointer;
  font-size: 1.4rem;
}

/* --- UI ----  */
.cart-content {
  display: flex;
  gap: 1rem;
}

.cart-icon {
  font-size: 2rem;
  color: #000;
}

.sidebar {
  width: 250px;
  height: 95vh;
  padding: 2rem;
  background: #f9f9f9;
  border-right: 1px solid #ddd;
}

.category-list {
  list-style: none;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
}

.category-list.active li {
  color: white;
  background-color: #007bff;
  border-radius: 4px;
  padding: 6px;
}

.sort-btn {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid #ddd;
  padding: 6px;
  margin: 4px 0;
  cursor: pointer;
  transition: 0.3s;
}

.sort-btn.active,
.sort-btn:hover {
  background: #007bff;
  color: #fff;
}

/*--- Cart Section ---*/

.total {
  font-size: 1.6rem;
  margin-top: 15px;
}

.cart {
  margin-top: 16px;
}

.cart h2 {
  font-size: 2rem;
}

.cart p {
  font-size: 1.6rem;
  margin-top: 8px;
}

.cart-list {
  margin-top: 8px;
  align-items: center;
}

.cart-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 8px;
}

.cart-item span {
  font-size: 1.8rem;
  font-weight: 500;
}

.cart-btns {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 8px;
}

.increase-btn {
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.increase-btn:hover {
  background-color: #acacac;
}

.remove-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #949494;
  color: rgb(0, 0, 0);
  font-weight: 700;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}

/* --- Sort Css --- */

.sort-container {
  position: relative;
  margin-bottom: 20px;
}

.sort-by {
  margin-bottom: 8px;
  font-size: 1.6rem;
  font-weight: bold;
}

.custom-select {
  font-size: 1.4rem;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  background: #fff;
  transition: border 0.3s ease;
}

.custom-select:hover {
  border-color: #007bff;
}

.arrow {
  font-size: 18px;
  color: #fff;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.option {
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.option:hover {
  background: #f0f0f0;
}

.option.selected {
  background: #007bff;
  color: #fff;
}