* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

li{
  list-style: none;
}
body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background: #efefef;
  scroll-behavior: smooth;
}

.navbar-section{
  height: 10rem;
  width: 100%;
  background: #efefef;
}

.container{
  height: 10rem;
  width: 107rem;
  background: #efefef;
}

.navbar{
  display: grid;
  grid-template-columns: .5fr 1fr;
  height: 10rem;
  align-items: center;
}

nav ul{
  display: flex;
  flex-direction: flex-end;
  align-items: center;
  gap: 3.2rem;
}
